flows.json
[
    {
        "id": "d445d260.887a2",
        "type": "tab",
        "label": "Relay Demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d897512367d03ca0",
        "type": "tab",
        "label": "Microwave Sequencer Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e20f16a4.627318",
        "type": "RelayJ2",
        "z": "d445d260.887a2",
        "name": "Relay J2 at Top",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "3523ad5c.eb6d32",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "e20f16a4.627318"
            ]
        ]
    },
    {
        "id": "85c106e7.6370a8",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "e20f16a4.627318"
            ]
        ]
    },
    {
        "id": "830cd5fa.7f6fd8",
        "type": "RelayJ3",
        "z": "d445d260.887a2",
        "name": "",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "3f7960a3.fd9d9",
        "type": "RelayJ4",
        "z": "d445d260.887a2",
        "name": "",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "1330a95f.7753b7",
        "type": "RelayJ5",
        "z": "d445d260.887a2",
        "name": "Relay J5 at Bottom",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "a63eab5a.daf578",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "830cd5fa.7f6fd8"
            ]
        ]
    },
    {
        "id": "e0c647cc.665058",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "830cd5fa.7f6fd8"
            ]
        ]
    },
    {
        "id": "ad95f1a9.134e3",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "set",
        "payloadType": "str",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "3f7960a3.fd9d9"
            ]
        ]
    },
    {
        "id": "67e5e44d.345f3c",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "3f7960a3.fd9d9"
            ]
        ]
    },
    {
        "id": "5d7bc4cc.9c9cfc",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "1330a95f.7753b7"
            ]
        ]
    },
    {
        "id": "6ef75fc1.9684a",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "1330a95f.7753b7"
            ]
        ]
    },
    {
        "id": "4eaaf58fd1516843",
        "type": "inject",
        "z": "d897512367d03ca0",
        "name": "Transmit",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b2f4470ae0390aea"
            ]
        ]
    },
    {
        "id": "5ab21e67ec914961",
        "type": "inject",
        "z": "d897512367d03ca0",
        "name": "Receive",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "1c0dd8f0ec680963"
            ]
        ]
    },
    {
        "id": "b2f4470ae0390aea",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "on",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "b026f3aa7c55b02b",
                "4708be9f5bcc47db"
            ]
        ]
    },
    {
        "id": "b026f3aa7c55b02b",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "",
        "op2": "on",
        "op1type": "nul",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "4ca9218b6784758a",
                "4520b48675f014be"
            ]
        ]
    },
    {
        "id": "4ca9218b6784758a",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "",
        "op2": "on",
        "op1type": "nul",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "97f9c044cf40f57d",
                "9fa48bc5c6c6e74f"
            ]
        ]
    },
    {
        "id": "97f9c044cf40f57d",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "",
        "op2": "on",
        "op1type": "nul",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "6ea0d769a4a67145"
            ]
        ]
    },
    {
        "id": "1c0dd8f0ec680963",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "off",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "486d01a6adde97f1",
                "6ea0d769a4a67145"
            ]
        ]
    },
    {
        "id": "486d01a6adde97f1",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "4f0690f22d4544ca",
                "9fa48bc5c6c6e74f"
            ]
        ]
    },
    {
        "id": "4f0690f22d4544ca",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "cbde8839337f940c",
                "4520b48675f014be"
            ]
        ]
    },
    {
        "id": "cbde8839337f940c",
        "type": "trigger",
        "z": "d897512367d03ca0",
        "name": "",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "4708be9f5bcc47db"
            ]
        ]
    },
    {
        "id": "4708be9f5bcc47db",
        "type": "RelayJ5",
        "z": "d897512367d03ca0",
        "name": "",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "4520b48675f014be",
        "type": "RelayJ4",
        "z": "d897512367d03ca0",
        "name": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "9fa48bc5c6c6e74f",
        "type": "RelayJ3",
        "z": "d897512367d03ca0",
        "name": "",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "6ea0d769a4a67145",
        "type": "RelayJ2",
        "z": "d897512367d03ca0",
        "name": "",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "13a162c8bb27098d",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "TX/RX relay TX when J4 is On",
        "info": "",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "f95602012890fe65",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "LNA On when J5 is Off",
        "info": "",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "c0ee274d535f5e83",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "Power Amp On when J3 is On",
        "info": "",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "49be7677a4f66fc2",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "TX inhibit disable (double negative) when J2 is on",
        "info": "",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "469ae06df3bb6d31",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "Yes, technically the first triggers are not \"needed\" but they accept any payload not just the correct payload.",
        "info": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "808b16a046ddd7e2",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "Instead of injector nodes you'd use some GPIO pins that aren't in use for relays",
        "info": "",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "7dbd739016ef1fe1",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "Warning:  I have not put this on a 'scope to verify delays are exactly 100 ms",
        "info": "",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "c62749297a4494bb",
        "type": "comment",
        "z": "d897512367d03ca0",
        "name": "The \"professionals\" use two bias-T and a constant current source and current sensor to verify switching rather than \"energize and hope for the best\"",
        "info": "",
        "x": 690,
        "y": 560,
        "wires": []
    }
]