flows.json
[
    {
        "id": "d445d260.887a2",
        "type": "tab",
        "label": "WA4YA Antenna Switch",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22ba10e510af9575",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc75296e115d15d4",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "e20f16a4.627318",
        "type": "RelayJ2",
        "z": "d445d260.887a2",
        "name": "Relay J2",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "3523ad5c.eb6d32",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "vertical",
        "payload": "false",
        "payloadType": "bool",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "3f7960a3.fd9d9"
            ]
        ]
    },
    {
        "id": "85c106e7.6370a8",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "vertical",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "dcd49b4aefbe7fae",
                "3f7960a3.fd9d9"
            ]
        ]
    },
    {
        "id": "830cd5fa.7f6fd8",
        "type": "RelayJ3",
        "z": "d445d260.887a2",
        "name": "Relay J3 fandipole",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f7960a3.fd9d9",
        "type": "RelayJ4",
        "z": "d445d260.887a2",
        "name": "Relay J4 Vertical",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "1330a95f.7753b7",
        "type": "RelayJ5",
        "z": "d445d260.887a2",
        "name": "Relay J5 deltaloop",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "a63eab5a.daf578",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fandipole",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "bd7d886ef1b0b04d",
                "830cd5fa.7f6fd8"
            ]
        ]
    },
    {
        "id": "e0c647cc.665058",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fandipole",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "830cd5fa.7f6fd8"
            ]
        ]
    },
    {
        "id": "5d7bc4cc.9c9cfc",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "deltaloop",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "798037a2f3587fd3"
            ]
        ]
    },
    {
        "id": "6ef75fc1.9684a",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "deltaloop",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "4dc7a9dd875e4f12"
            ]
        ]
    },
    {
        "id": "dcd49b4aefbe7fae",
        "type": "Invert",
        "z": "d445d260.887a2",
        "name": "Invert",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "830cd5fa.7f6fd8",
                "4dc7a9dd875e4f12",
                "e20f16a4.627318"
            ]
        ]
    },
    {
        "id": "bd7d886ef1b0b04d",
        "type": "Invert",
        "z": "d445d260.887a2",
        "name": "Invert",
        "x": 610,
        "y": 40,
        "wires": [
            [
                "e20f16a4.627318",
                "3f7960a3.fd9d9",
                "4dc7a9dd875e4f12"
            ]
        ]
    },
    {
        "id": "798037a2f3587fd3",
        "type": "Invert",
        "z": "d445d260.887a2",
        "name": "Invert",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "1330a95f.7753b7",
                "3f7960a3.fd9d9",
                "830cd5fa.7f6fd8",
                "e20f16a4.627318"
            ]
        ]
    },
    {
        "id": "4dc7a9dd875e4f12",
        "type": "Invert",
        "z": "d445d260.887a2",
        "name": "Invert",
        "x": 610,
        "y": 400,
        "wires": [
            [
                "1330a95f.7753b7"
            ]
        ]
    },
    {
        "id": "e04c3614f0bd06da",
        "type": "RelayJ2",
        "z": "22ba10e510af9575",
        "name": "Relay J2",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "06f9ccb8186ecc8a",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "vertical",
        "payload": "false",
        "payloadType": "bool",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "41c64b95a9b74f41"
            ]
        ]
    },
    {
        "id": "86bad108a7951c83",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "vertical",
        "payload": "true",
        "payloadType": "bool",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "c350cfec3683dbce",
                "41c64b95a9b74f41"
            ]
        ]
    },
    {
        "id": "fe96e5f9dd7d4bf0",
        "type": "RelayJ3",
        "z": "22ba10e510af9575",
        "name": "Relay J3 fandipole",
        "x": 1110,
        "y": 360,
        "wires": []
    },
    {
        "id": "41c64b95a9b74f41",
        "type": "RelayJ4",
        "z": "22ba10e510af9575",
        "name": "Relay J4 Vertical",
        "x": 1110,
        "y": 440,
        "wires": []
    },
    {
        "id": "2061fa9ebcedba9c",
        "type": "RelayJ5",
        "z": "22ba10e510af9575",
        "name": "Relay J5 deltaloop",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "89f91081c3818613",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fandipole",
        "payload": "true",
        "payloadType": "bool",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "77013c0938b0150a",
                "fe96e5f9dd7d4bf0"
            ]
        ]
    },
    {
        "id": "38f1e0d543d2edd2",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fandipole",
        "payload": "false",
        "payloadType": "bool",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "fe96e5f9dd7d4bf0"
            ]
        ]
    },
    {
        "id": "3138110fb1b94f25",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "deltaloop",
        "payload": "true",
        "payloadType": "bool",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "43fc83697d558881"
            ]
        ]
    },
    {
        "id": "f56c15e7f9d1a580",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "deltaloop",
        "payload": "false",
        "payloadType": "bool",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "68b54d86a1d5ef23"
            ]
        ]
    },
    {
        "id": "c350cfec3683dbce",
        "type": "Invert",
        "z": "22ba10e510af9575",
        "name": "Invert",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "fe96e5f9dd7d4bf0",
                "68b54d86a1d5ef23",
                "e04c3614f0bd06da"
            ]
        ]
    },
    {
        "id": "77013c0938b0150a",
        "type": "Invert",
        "z": "22ba10e510af9575",
        "name": "Invert",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "e04c3614f0bd06da",
                "41c64b95a9b74f41",
                "68b54d86a1d5ef23"
            ]
        ]
    },
    {
        "id": "43fc83697d558881",
        "type": "Invert",
        "z": "22ba10e510af9575",
        "name": "Invert",
        "x": 750,
        "y": 500,
        "wires": [
            [
                "2061fa9ebcedba9c",
                "41c64b95a9b74f41",
                "fe96e5f9dd7d4bf0",
                "e04c3614f0bd06da"
            ]
        ]
    },
    {
        "id": "68b54d86a1d5ef23",
        "type": "Invert",
        "z": "22ba10e510af9575",
        "name": "Invert",
        "x": 750,
        "y": 560,
        "wires": [
            [
                "2061fa9ebcedba9c"
            ]
        ]
    },
    {
        "id": "e60aa046efda791a",
        "type": "interval-multiples-timer",
        "z": "22ba10e510af9575",
        "interval": "5000",
        "payload": "",
        "topic": "",
        "name": "",
        "x": 160,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "50d1dea1faafbebd",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "-",
        "payload": "-",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "74a84814.4ecc6",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "-",
        "payload": "-",
        "payloadType": "str",
        "x": 370,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d9c64d70.401e88",
        "type": "toggle",
        "z": "22ba10e510af9575",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "any",
        "passOnOff": "ifChanged",
        "x": 790,
        "y": 740,
        "wires": [
            [
                "847d3703.2d63a"
            ]
        ]
    },
    {
        "id": "847d3703.2d63a",
        "type": "debug",
        "z": "22ba10e510af9575",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 740,
        "wires": []
    },
    {
        "id": "54fcb3ec.12b7c4",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "-",
        "payload": "-",
        "payloadType": "str",
        "x": 280,
        "y": 740,
        "wires": [
            [
                "193c74a9d309c02d"
            ]
        ]
    },
    {
        "id": "55aca3bf.f5054c",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "193c74a9d309c02d"
            ]
        ]
    },
    {
        "id": "193c74a9d309c02d",
        "type": "function",
        "z": "22ba10e510af9575",
        "name": "function 1",
        "func": "let reset = context.get(\"stop\");\nnode.warn(\"reset: \"+reset);\nnode.warn(\"payload: \"+msg.payload);\nif (msg.payload === \"start\") {\n    context.set(\"stop\", null);\n} else if (msg.payload === \"stop\") {\n    context.set(\"stop\", true);\n}\nif (reset || reset === undefined) {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 760,
        "wires": [
            [
                "d9c64d70.401e88"
            ]
        ]
    },
    {
        "id": "d7683bf472fbe6f5",
        "type": "inject",
        "z": "22ba10e510af9575",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "193c74a9d309c02d"
            ]
        ]
    }
]